<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.o1.mappers.StudentMapper">
	<resultMap type="student" id="studentResultMap">
		<id property="studId" column="stud_id" />
		<result property="email" column="email"/>
		<result property="dob" column="dob"/>
	</resultMap>

	<insert id="insertStudent" parameterType="student">
		insert into students(name, email, dob, gender)
		values (#{name}, #{email}, #{dob}, #{gender})
	</insert>
	<select id="findAllStudents" resultMap="studentResultMap">
		select * from students s
	</select>
</mapper>